# Variables, expressions, and statements

# Q.1

In [ ]:
#Program Enter the name and welcome the user

name = input ("Enter your name")
print ('Welcome',name)

# Q.2

In [ ]:
# Q2: Program to calculate the gross pay 

hour = float (input ("enter hours :"))
rate = float (input ("enter rate :"))
pay = hour * rate 
print ("pay = "), pay

# Q.3

In [ ]:
# Q3: write the value of the expression and the type

width = float (input("enter the width: "))
height = float (input("enter the height"))

print ("Value is: ", width//2, "type is: ", type(width // 2))
print ("value is: ", width/2.0, "type is: ", type(width/2.0))
print ("value is: ", height/3 , "type is: ", type(width/3))
print ("value is:", 1 + 2 * 5 , "type is: ", type(1 + 2 * 5))

# Q.4

In [ ]:

# write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit,
#    and print out the converted temperature.

celsius = float (input ("Enter the celsius temperature :"))
fahrenheit = (celsius * 9.0/5.0) + 32.0
print ("Temperature in Fahrenheit = ", fahrenheit)

# Q.5

In [ ]:
#  Write a program to find if a given number is a perfect square or not.

import math
number = int (input("Enter the number"))

root = math.sqrt(number)
print ("root is : ", root)

if int(root + 0.5) ** 2 == number:
    print(number, "is a perfect square")
else :
    print(number, "is not perfect square")

# Q.6

In [ ]:
# Write Python statements to calculate and print the simple interest using
# variables p, t and r for principal, rate of interest and time duration respectively.

p = 50 
r = 30
t = 50
S = (p * r * t)/100
print ("Simple Interest is = ", S)

# Q.7

In [ ]:
# Write Python statements to create 2 complex objects and print their sum, difference and product.

In [ ]:
# SUM

In [ ]:
a = 5 + 3
b = 6 + 7
c = (a+b)
print ( complex(c))

In [ ]:
# DIFFERENCE

In [ ]:
D = (a-b)
print(complex(D))

In [ ]:
# PRODUCT

In [ ]:
P = (a*b)
Product = complex(P)
print(Product)

# Q.8

In [ ]:
# Write Python statements to accept a string from the user and print it in title case.

In [ ]:
String = "my name is shaoaib ur rehman"
S = String.title()
print(S)

# Q.9

In [ ]:
s =(input("Enter something"))
print(s)
type(s)
s.upper()

# STRING

# Q.1

In [ ]:
# 1- use find
# 2- string slicing
# 3- convert to float
str_5.find(":")

In [ ]:
str_5 = "X-DSPAM-confidence:08475"

In [ ]:
sliced_string = str_5[19:]

In [ ]:
type(sliced_string)

In [ ]:
sliced_string=float(sliced_string)

In [ ]:
type(sliced_string)

In [ ]:
sliced_string

# Q.2

In [ ]:
#split the string
#Print only first 10 letters
# Make a new string from this, such that it has only these Words: “Welcome Science

In [ ]:
Y = ("“Welcome to the Course on Data Science.")
A = Y.split(" ")
print(A)

In [ ]:
Y[:9]

In [ ]:
Y[:9] + Y[-8:]

# Q.3

In [ ]:
#number of occurrences of a given character in string

In [ ]:
str_4 = ("asfns andf kjhsah fkna wf wiuqyeri kbmnxbz iu ahsldhf wqyieyr uiysadhfj uiweyhjkdfhsa wiufsdf  ")
str_4.count("a")

In [ ]:
str_4.count("a")

# Q.4

In [ ]:
# Write a Python script to count the number of occurrences of each word in a
# given string.

In [ ]:
A = ("my name is shoaib ur rehman my name  shoaib shoaib rehman name is ")
A.count("shoaib")

# Q.5

In [ ]:
# Write a Python script to form a string out of the first 2 and last 2 characters
# from the given string. For example, given the string “I am a student”, the
# output expected is “I nt”.

In [ ]:
my_str = ("I am a student")

In [ ]:
v = my_str[-2:]
t = my_str[:1]
print (t +' '+  v)

In [ ]:
v = my_str[:2] + my_str[-2:]
print(v)

# LISTING

# Q.1

In [ ]:
#Make a modify it by removing the first and last elements. 
#Then make a list called middle that contains all except the first and last elements.

a = ["apple","banana","cherry","ball"]
middlelist = print(a[1:-1])

# Q2:

In [ ]:
# Create a list of some text and find the unique words in it.

In [ ]:
mylist = ["apple","cherry","apple","cherry"]

In [ ]:
print(set(mylist))

In [ ]:
print(set(mylist))

In [ ]:
myList = [1, 2, 3, 4, 5, 6]
sum(myList)

In [ ]:
type(myList)

# Q.3

In [ ]:
#  Write a program to add all the items in a list.

In [ ]:
v = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
sum(v)

# Q.4

In [ ]:
# Write a program to get the largest and smallest number in a list.

In [ ]:
a = ["12","44","66"]
print(a)

In [ ]:
max(a)

In [ ]:
min(a)

# Q.5

In [ ]:
# Write a program to remove duplicates from a list.

In [ ]:
mylist = ["a", "b", "b", "c", "a"]
mylist = set(mylist)
print(mylist)

# Q.6

In [ ]:
# Write a program that prints whether at least one member of the given two lists are same.

In [ ]:
a = ["ali","bili","hummad"]
b = ["cat","bili","bila"]

In [ ]:
a = set(a)
b = set(b)

In [ ]:
a.intersection(b)

In [ ]:
for item in a:
    for thing in b:
        if item==thing:
            print(item)

In [ ]:
a = ["ali","bili","hummad"]
b = ["cat","bili","bila"]

a[2] in b

# Q.7

In [ ]:
# Write a program to convert a list of characters into a string.

y = [1,3,6,8]
z = str(y)

In [ ]:
z

In [ ]:
type(z)

# Q.8

In [ ]:
# Write a program to check whether two lists are identical.

In [ ]:
a = [1,2,3,4,5,6]
b = [1,2,3,4,5,6]
print("The first list is:",str(a))
print("The second list is :",str(b))
a==b

In [ ]:
if a==b:
    print("The list is identical")
else:
    print("The list is not identical")

# Q.9

In [ ]:
# Write a program to print unique values from a list.

In [ ]:
A = [1,3,4,6,8,9,2,4,5,7,1,4,6,8,9,5,3,2]

In [ ]:
B =set(A)

In [ ]:
B

In [ ]:
C =list(B)

In [ ]:
C

In [ ]:
type(C)

# Q.10

In [ ]:
# Write a program to print the number of occurrences of each element in a list.

In [ ]:
A = [1,2,3,1,2,3,4,3,4,2,1,4,3,2,1,3,4,2]
A.count(5)

# Q.11

In [ ]:
A = [[1,3,5,7],[13,55,44],[12,44,22,44]]
print(max(A,key=sum))

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(0, "orange")
print(thislist)

# Q.12

In [ ]:
# Write a program to insert a given string at the beginning of all the strings in a list.

In [ ]:
l = ["rr","eee","www"]

In [ ]:
print(['3 {0}'.format(i) for i in l])

# Q.13

In [ ]:
# Write a program to convert a string to a list of characters.

In [ ]:
A = "He is a good boy"
type(A)
B = list(A)

In [ ]:
type(B)

In [ ]:
print(B)

# Q.14

# Write a program to concatenate elements of a list with corresponding elements of another given list.

In [ ]:
A = ["A","S","W"]
B = ["r","g","y"]
C=[]
for i in range (0,len(A)):
    C.append(A[i] + B[i])
print(C)

# Q15: Write a program to split a list every n-th element to obtain a list of lists.

In [ ]:
a = [1,2,3,4,5,6,7]
n = 3
m  = [a[x:x+2] for x in range (0,len(a),n) ]
m

In [ ]:
a = [1,2,3,4,5,6,7]
n = 2
s =[]
for x in range(0,len(a), n):
    s.append(a[x:x+n])
print(s)

# Q.16

In [ ]:
# Write a program to convert a list of multiple integers into one single integer.
# Thus, the list [25,12,2] should get converted to the number 25122.

In [ ]:
A =  [25,12,2]
s = ""
for f in A:
    s+= str(f)
   
print(s)
d = int(s)

# TUPPLE

# Q.1

# Write a program to convert a tuple of values into a tuple of singleton tuples of values. Thus, (1,2,3) should get converted to ((1,)(2,),(3,))

In [ ]:
mytuple = (1,2,3)
mytuple[0:1],mytuple[1:2],mytuple[2:3]

In [ ]:
mytuple = (1,2,3)

s = []
for i in mytuple:
    s.append((i,))
s = tuple(s)
print(s)

In [ ]:
mytuple = (1,2,3)
w = []
for i in mytuple:
    w.append((i,))
tuple(w)

# Q.2

# Write a program to count the number of elements in a list until it finds a tuple in the list

In [ ]:
x = ["string",44,(3,4),3.2]
n = 0
for i in x:
    if isinstance(i, tuple):
        break
    n += 1
print(n)

# Q:3

# Write a program to add corresponding elements of two given tuples, giving rise to a new tuple.

In [ ]:
tup1 = (1,2,3,4,5)

In [ ]:
tup2 = (0,8,5,3,7)

In [ ]:
tup3 = tuple(map(sum,zip(tup1,tup2)))

In [ ]:
tup3

# Q.4

# Write a program to multiply each element of a given tuple with a given integer, giving rise to a new tuple.

In [4]:
# a = (1,2,4,5,6,78,88)
# x = 2
# for i in range(a[1]):
#     y = tuple(i*x for i in a)
    
# print(a)

tuple1 = (1,2,3,4,5,6,7,8)
print(tuple1)
n = 2
newtuple = tuple(n*x for x in tuple1)
newtuple

(1, 2, 3, 4, 5, 6, 7, 8)

(2, 4, 6, 8, 10, 12, 14, 16)

# SET

# Q.1

In [ ]:
#  Add few unique numbers in a set and use the 'in' operator to search for an element.

In [ ]:
set1 = {1,2,3,4,5}
2 in set1

# Q.2

In [ ]:
# Write a program to convert a list of integers into a list of unique integers using sets.

In [ ]:
l1 = [1,2,3,4,5,6,4,2,1,4,5,2,3,4,21,3,4,56,7,87,54,3]

In [ ]:
s = set(l1)
print(s)

# QUESTION:3

In [ ]:
# Assume that we have 2 lists, each having only IP addresses as its contents.
# Write a program to determine if the 2 lists have the same IP addresses (albeit in different positions) 
# in the most optimal manner.

In [ ]:
l1 = ['124.564.0.1','124.564.0.2',"124.564.0.3"]
l2 = ["124.564.0.3"]
for IP_Address in l1:
    if IP_Address in l1:
        print("Found")
    else:
        print("NOt Found")

# Again

In [ ]:
L1 = ["192.168.1.2","192.168.1.3","192.168.1.3"]
L2 = ["192.168.1.3"]
for Ip in L1:
    if Ip in L2:
        print("Found")
    else:
        print("Not found")

# Dictionaries

# Q.1

In [ ]:
Roll = {'11167':50,'11127':35,'11245':46}
print(Roll.keys())
print(Roll.values())
Roll_Number1 = input("Enter Your Roll Number : ")
print(Roll[Roll_Number1])
Roll_Number2 = input("Enter Your Roll Number : ")
print(Roll[Roll_Number2])

# Q.2

In [2]:
comm = { 'chair' : 10, 'table' : 22, 'sofa-set': 2, 'tv-unit': 0, 'fan': 10,
        'table-lamp': 0, 'iron-box': 0, 'bed': 30 }


price = { 'chair': 2365, 'table': 37752, 'sofa-set': 23299, 'tv-unit': 120344 ,'bed': 40226 }

In [3]:
cash = 0

while True:
    entered_commodity = input("Plz Enter What You Need: ")
    if entered_commodity == "quit": 
        print("Thank You For Shopping!")
        break
    
    quantity = int(input("Plz Enter The Quantity:   "))
    if entered_commodity in comm.keys():
        print("Commoditiy Found")
        if comm[entered_commodity]>0 and quantity<=comm[entered_commodity]:
            print("In-Stock & Available")
            cash = cash + (price[entered_commodity] * quantity)
            print("Now Cash is: ", cash)
            comm[entered_commodity] = comm[entered_commodity] - quantity
            print(comm.items())

        else:
            print("Sorry, Out Of Stock OR the Quantity is More than The Available Stock.")
        
    else:
        print("Sorry, We Do Not Have What You Want.")
print("Bill : ",cash)

Plz Enter What You Need: chair
Plz Enter The Quantity:   2
Commoditiy Found
In-Stock & Available
Now Cash is:  4730
dict_items([('chair', 8), ('table', 22), ('sofa-set', 2), ('tv-unit', 0), ('fan', 10), ('table-lamp', 0), ('iron-box', 0), ('bed', 30)])
Plz Enter What You Need: quit
Thank You For Shopping!
Bill :  4730